body{
    border-style: solid;
    border-width: 15px;
    border-color: black;
}
.box {
    border:solid;   
    border-radius:5px;
    margin-left:550px;
    margin-right:550px;
    border-width: 3px;
    margin-top:10px;
}

.user_photo{
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
    font-size: 15px;
}
#name{
    display: flex;
    justify-content: center;
    font-size: 23px;
}
#images img{
    width: 5%;
}
h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 23px;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 23px;
}
h4{
    display: flex;
    justify-content: center;
    font-size: 23px;
}
#email{
    display: flex;
    justify-content: center;
}
.link1{
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.link2{
    display: flex;
    justify-content: center;
    font-size: 10px;
}
#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
@media screen and (max-width: 1000px){
    #mian{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}