.square{
    background-color: blue;
    height: 100px;
    width: 100px;
    display: inline;
    
}


#first{
    background-color: red;
}#second{
    background-color: green;
}
p{
    background-color: black;
}
#first{
    background-color: yellowgreen;
}